html, body {
  height:100%;
  background-color: #eceff1 !important;
  font-family: 'Lato', sans-serif !important;
}

#introduction-wrapper{
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: #eceff1 !important;
}

.ui-widget-content{
  background-color: white !important;
}

.custom-container {
  color: #47525e;
}

.ui-widget-content{
  background-color: white !important;
}

.custom-nav {
  background-color: #9e9e9e !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}

.custom-nav-btn {
  background-color: #085b64;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  cursor: pointer;
}

.custom-nav-link {
  color: #eceff1 !important;
}

.custom-nav-link-active {
  color: #085b64 !important;
  background-color: #eceff1 !important;
}

.vertical-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.glyphicon {
  color: white;
}

.ui-icon {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -transform: scale(1.5);
}

.ui-slider-handle {
  background: #ff5252 !important;
  box-shadow: 2px 1.5px #872a2a;
  border: none;
}

.custom-button {
  background-color: #ff5252;
}

button.custom-button {
  text-transform: uppercase;
  color: white !important;
  border: none;
  box-shadow: 3px 3px #872a2a;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #872a2a !important;
}

button:active {
  background-color: #872a2a;
  box-shadow: 0 0 #872a2a !important;
  transform: translateY(2px) translateX(2px);
}

#summaryDialog {
  background-color: #eceff1;
  width: 200px;
  text-align: center;
}

#summaryDialog a {
  text-decoration: underline;
}

#report-form>input, #report-form>label{
  margin: 3px 0px;
}

.smell-label{
  font-weight: normal;
}

input[name="smell"]{
  display: none;
}

input[name="smell"]:checked+.smell-box{
  border: 3px solid black;
}

input[value="1"]+.smell-box{
  background-color: lime;
}

input[value="2"]+.smell-box{
  background-color: yellow;
}

input[value="3"]+.smell-box{
  background-color: orange;
}

input[value="4"]+.smell-box{
  background-color: crimson;
}

input[value="5"]+.smell-box{
  background-color: rebeccapurple;
}

.smell-box{
  position: relative;
  display: inline-block;
  margin-right: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.location-label, .textarea-label, .textarea-label>input{
  width: 100%;
}

.smell-label, .textarea-label>input, .location-label>input{
  font-weight: normal;
}

.location-label>input[type=button] {
  font-size: .8em;
  margin-left: 10px;
}

.location-label>input[type=text]{
  width: 100%;
}

.report-button { 
  display: inline-block;
  padding: 5px 20px;
  background-color: #085b64;
  color: white;
  text-align: center;
  font-size: 18px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
}

.report-button:hover{
  background-color: rgb(50,50,50);
}

.report-button:active{
  background-color: rgb(90,90,90);
}

.report-button:disabled{
  opacity: .5;
  background-color: black;
}

input[type=submit] {
  border: none;
  font-size: 1em;
}

#submit-success{
  display: none;
}

#submit-success a:link{color: #337ab7 !important;} 
#submit-success a:visited{color: purple !important;} 

/*===============
 * No Highlight
 *===============*/

.no-highlight {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


