html, body {
  height:100%;
  background-color: #eceff1 !important;
  font-family: SanFranciscoText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.x-center{
  position: absolute; 
  left: 50%; 
  -webkit-transform: translateX(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateX(-50%); /* IE 9 */
          transform: translateX(-50%); /* IE 10, Fx 16+, Op 12.1+ */
}

.text-primary {
  color: #f7b733 !important;
}
.underline{
  text-decoration: underline;
}

.full-page{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #eceff1 !important;
}

.ui-widget-content{
  background-color: white !important;
}

.custom-container {
  color: #47525e;
}

.ui-widget-content{
  background-color: white !important;
}

#home-page{
  background-color: white !important;
}

#site-nav {
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
}

@media (min-width: 768px) {
  #site-nav.navbar-custom {
    padding: 10px 0px;
  }
  #site-nav.navbar-custom .navbar-brand {
    opacity: 1;
  }
}

.language {
  background-color: #444 !important;
  border-radius: 5px;
}

.navbar-custom{
  background-color: #222 !important;
  color: white !important;
}

#site-nav .dropdown-menu{
  background-color: #222;
}

#site-nav .nav>li>a:focus, #site-nav .nav>li>a:hover, #site-nav .nav>li>a:active{
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #222;
  color: #f7b733;
}

.navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
    color: white !important;
    background-color: #f7b733 !important;
}

.vertical-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.glyphicon {
  color: white;
}

.ui-icon {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -transform: scale(1.5);
}

#daily-summaries-page {
  text-align: center;
}

#daily-summaries-page a {
  text-decoration: underline;
  font-size: 18px;
}

#report-pollution-page{
  padding: 5px 10px;
}

#submit-success, #uploading, #upload-error{
  display: none;
}

#upload-error-message:before{
  content: 'Report failed to upload: ';
}

#error-resolution:before{
  content: 'Resolve by: ';
}

.uploading{
  min-height: 55px;
}

.success.note{
  border: 4px solid #4F8A10;
  background-color: #DFF2BF;
}

.uploading.note{
  border: 4px solid gold;
  background-color: lightyellow;
}

.error.note{
  border: 4px solid red;
  background-color: lightcoral;
}

.note{
  padding: 5px;
  background-color: white;
  border: 3px solid darkgray;
  border-radius: 8px;
  margin: 10px 0px;
}

.report-form-section{
  width: 100%;
  border: 3px solid rgb(180,180,180);
  border-radius: 8px;
  margin: 10px 0px;
  padding: 10px;
  background-color: rgb(235,235,235);
}

#report-form strong{
  font-size: 18px;
}

#report-form label{
  display: block;
  margin: 5px 0px;
}

strong.emphasis{
  font-size: 20px;
}

strong.required:after{
  content: ' (required)';
  color: red;
}

.required-error{
  border: 3px solid lightcoral;
}

.tag-label{
  position: relative;
  display: inline-block;
  min-width: 80px;
  padding: 10px;
  border: solid 3px darkgray;
  border-radius: 10px;
  background-color: white;
  transition: background-color .2s;
  font-weight: normal;
  text-align: center
}

input[type='radio']:checked+.tag-label, input[type='checkbox']:checked+.tag-label{
  background-color: gray;
  border-color: darkgray;
  color: white;
}

input[type='radio']:checked+.tag-label input, input[type='checkbox']:checked+.tag-label input{
  color: black;
}

.smell-label{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px 5px;
  font-weight: normal;
  border: solid 3px darkgray;
  border-radius: 10px;
  background-color: white;
  transition: background-color .2s;
}

.smell-label span{
  margin-left: 30px;
}

.radio-circle, .smell-box{
  position: absolute;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}


input[type="radio"], input[type="checkbox"]{
  display: none;
}

input[name="smell"]:checked+.smell-label{
  background-color: gray;
  border-color: darkgray;
  color: white;
}

input[value="1"]+.smell-label>.smell-box{
  background-color: lime;
}

input[value="2"]+.smell-label>.smell-box{
  background-color: yellow;
}

input[value="3"]+.smell-label>.smell-box{
  background-color: orange;
}

input[value="4"]+.smell-label>.smell-box{
  background-color: crimson;
}

input[value="5"]+.smell-label>.smell-box{
  background-color: rebeccapurple;
}

textarea { 
  resize: vertical; 
  border: none;
  margin-top: 10px;
  font-size: 1em;
  height: 5em;
}

.location-label, .textarea-label, .textarea-label>input, .textarea-label>textarea{
  width: 100%;
}

.smell-label, .textarea-label>input, .location-label>input, .textarea-label>textarea{
  font-weight: normal;
}

.location-label>input[type=button] {
  font-size: .8em;
  margin-left: 10px;
}

.location-label>input[type=text],.location-label>textarea{
  width: 100%;
}

.report-button { 
  display: inline-block;
  /*width: 100%;*/
  padding: 10px;
  margin: 15px 0px;
  background-color: #00bdac;
  color: white;
  text-align: center;
  font-size: 18px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 10px;
}

#report-pollution-page .report-button{
  width: 100%;
}

.report-button:hover{
  background-color: rgb(50,50,50);
}

.report-button:active{
  background-color: rgb(90,90,90);
}

.report-button:disabled{
  opacity: .5;
  background-color: black;
}

.now-button{
  max-width: 200px;
  padding: 5px 10px;
  margin: 5px 10px 5px 0px;
}

input[type=submit] {
  border: none;
}

#report-form a:link{color: #337ab7 !important;} 
#report-form a:visited{color: purple !important;} 

.thumbnail-wrapper{
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 5px 0px;
}

.thumbnail-wrapper img{
  min-height: 60px;
}

.delete-me{
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  z-index: 100;
  background: rgba(200,50,50,.5);
  cursor: pointer;
}

.delete-me:hover{
  background: rgba(200,50,50,.85);
}

.delete-me i{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.upload_field {
  -webkit-appearance: button !important;
}

.progress_wrapper {
  display: block;
  margin: 5px 0;
  border: 1px;
  width: 100%;
  height: 20px;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
  color: white;
  overflow: hidden;
}

.progress_bar {
  width: 0px;
  height: 20px;
  background-color: #00bdac;
  text-align: center;
  line-height: 21px;
  border-radius: 5px;
  font-size: 15px;
  transition: width .2s;
}


/*===============
 * No Highlight
 *===============*/

.no-highlight {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


