.dashboard-page{
  width: 100%;
  height: calc(100% - 50px);
}

.dashboard-page nav{
  margin: 0px;
  border: none;
  background-color: inherit;
}

#loc-nav .nav{
  background-color: #f8f8f8;
}

#loc-nav .custom-nav-btn>a{
  color: darkgray;
}

#loc-nav .custom-nav-btn.active>a{
  color: inherit;
}

#loc-nav .custom-nav-btn:hover>a{
  background-color: #e3e3e3;
}

#loc-nav .custom-nav-btn.active>a{
  background-color: #c7c7c7;
}

.dashboard-page .error-msg {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  padding: 40%;
}

.dashboard-page .custom-col {
  padding: 0px !important;
}

.full-height {
  height: 100%;
}

.dashboard-page .half-height {
  height: 50%;
}

.dashboard-page .border {
  border: 1px solid black;
}

.dashboard-page .guide-expanded {
  min-height: 110px;
}

.dashboard-page .guide-collapsed {
  height: 20px;
}

.dashboard-page .guide-collapsed span {
  display: block;
  text-align: center;
  color: darkgrey;
  font-size: 20px;
}

.dashboard-page .guide-collapsed div, .guide-collapsed a, .guide-expanded .guide-expand {
  display: none;
}

.dashboard-page .guide-col {
  min-width: 197px;
}

@media (min-width: 1600px) {
  .dashboard-page .guide-col {
    font-size: 18px;
  }
}

.dashboard-page .guide-icon-circle {
  font-size: 175%;
  border-radius: 50%;
  height: 1.7em;
  width: 1.7em;
  top: .7em;
  position: absolute;
}

.dashboard-page .guide-icon {
  position: absolute !important;
  line-height: 1.7 !important;
}

.dashboard-page .guide-text {
  margin-left: 55px;
  width: 60%;
  min-height: 60px;
  min-width: 100px;
}

.dashboard-page .guide-arrow {
  color:grey;
  font-size:400%;
  opacity:.5;
  text-align: right;
  position: absolute !important;
  top: 15px !important;
  right: -15px;
}

.dashboard-page .guide-dismiss {
  font-size: 40px;
  color: darkgrey;
  position: absolute;
  right: 7px;
}

.dashboard-page .dismiss-popover {
  float: right;
  cursor: pointer;
}

.dashboard-page #dialog {
  background-color: #eceff1;
}

.dashboard-page #grapher_toolbar{
  background-color: #222;
}

.dashboard-page .grapher-tool-icon{
  margin: 2px 5px;
  margin-bottom: 23px;
  cursor: pointer;
}

.grapher-tool-icon:after{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 124px;
  color: white;
}

#slider-wrapper:after{
  content: "speed";
  position: absolute;
  left: 50px;
  transform: inherit;
  line-height: 15px;
}

#zoomGrapherIn:after{
  content: "zoom\00a0in";
}

#zoomGrapherOut:after{
  content: "zoom\00a0out";
}

#calendar:after{
  content: "calendar";
}

#play:after{
  content: "play";
}

.pause:after{
  content: "pause" !important;
}

#share:after{
  content: "share";
}

#help:after{
  content: "help";
}

.dashboard-page #shareLink {
  width: 100%;
  font-size: 11px;
}

#slider-wrapper{
  width: 130px;
  display: inline-block;
  margin: 0px 12px;
}

.dashboard-page #slider {
  background: rgba(255,255,255,0.5);
}

.ui-slider-handle {
  background: #f7b733 !important;
  border: none;
}

#calendar-menu{
  position: absolute;

}

.dashboard-page #grapher_parent{
  height: 60%;
}

.dashboard-page #grapher {
  width: 100%;
  min-width: 385px;
  min-height: 400px;
}

.dashboard-page #grapher * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.dashboard-page #dateAxisContainer td:first-child{
  background-color: #222;
}

.dashboard-page #dateAxisContainer {
  width: 100%;
  height: 41px;
  position: relative;

}

.dashboard-page .annotationContent {
  position: absolute;
  left: 159px;
  right: 35px;
  height: 35px !important;
  border: 1px solid black;
  background: white;
}

.dashboard-page .annotationChart {
  height: 35px !important;
  background: #4f5457 !important;
}

.dashboard-page .annotationContent canvas {
  height: 35px !important;
}
.dashboard-page .annotationChartTitle {
  position: absolute;
  left: 0px;
  width: 136px;
  height: 24px !important;
  border: 1px solid black;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: white;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;
}

.dashboard-page .annotationChartAxis {
  position: absolute !important;
  right: 0px;
  width: 34px;
  background: white;
  height: 35px !important;
}

.dashboard-page .playContainer {
  border-top: 1px solid black;
  width: 159px;
  position: absolute;
}

.dashboard-page .playBackContainer {
  height:70px;
  margin-top: 50px;
  width: 75%;
}

.dashboard-page .playback-help-text {
  background-color: rgba(255,255,255,0.6);
  margin-right: 30px;
  margin-left: 30px;
  padding: 3px;
  border-radius: 4px;
}



.dashboard-page .playbackBtn {
  border-radius: 4px;
  height: 30px;
  width: 42px;
  float: left;
  margin-left: 27px;
}

.dashboard-page .axesControls {
  border-radius: 4px;
  outline: none;
  height: 30px;
  width: 20px;
  float: left;
  margin-left: 15px;
  margin-top: 3px;
}

.dashboard-page #dateAxis {
  position: absolute !important;
  right: 250px;
  left: 159px;
  height: 40px;
  border: 1px solid black;
  width: 100%;
  background: white;
}

.dashboard-page .chartTitle {
  /*position: absolute;*/
  left: 0px;
  width: 150px;
  /*height: 100%;*/
  border: 1px solid black;
  background-color: rgba(126,217,237,.43);
  padding: 11px;
}

.dashboard-page .chartContent {
  position: absolute;
  left: 159px;
  right: 35px;
  border: 1px solid black;
  background: white;
  width: 100%;
  height: 80px;
  z-index: 4 !important;
}

.dashboard-page .chartAxis {
  position: absolute !important;
  right: 0px;
  width: 34px;
  border: 1px solid black;
  background: white;
  height: inherit;
  z-index: 1;
}

.dashboard-page .healthDangerBox {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 179, 179);
  z-index: -2;
}

.dashboard-page .greyAreaBox {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: rgb(217, 217, 217);
  border-bottom: 0px dashed black;
  z-index: -3;
}

.dashboard-page .refineryDetectionLimit {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px dotted black;
  z-index: -1;
}

.dashboard-page .valueHover {
  display: none;
  z-index: 9999;
  font-size: 10pt;
  background-color: rgba(255,255,255,.5);
  float: right;
}

.dashboard-page #map_parent {
  overflow-x: hidden;
  height: 40%;
  min-height: 365px;
}

.dashboard-page .menu {
  display: none;
  min-height: 199px;
}

.dashboard-page .control-tab {
  position: absolute;
  left: -35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  text-align: center;
  transition-duration: 0.4s;
  background-color: rgba(255,80,80,0.8);
  padding-top: 5px;
}

.dashboard-page div.control-tab:hover {
  background-color: #872a2a !important;
}

.dashboard-page .open {
  background-color: #872a2a !important;
}

.dashboard-page .left-collapse-menu {
  width: 214px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(126,217,237,.6);
}

.dashboard-page .collapsed {
  right: -214px;
}

.dashboard-page .collapse-handle {
  width: 20px;
  border: 1px solid black;
  position: absolute;
  left: 0px;
  font-size: 20px;
  cursor: pointer;
}

.dashboard-page .collapse-icon {
  color: black;
  position: absolute !important;
  top: 175px !important;
}

.dashboard-page .calendar-controls {
  position:absolute;
  left: 0;
  width: 214px;
  padding-top: 5px;
  text-align: center;
  background-color: #222;
  z-index: 100;
  transform: translateY(-361px);
}

.dashboard-page .ui-datepicker-inline {
  font-size: 12px;
  height: 200px;
  border-radius: 0;
  color: #f7b733 !important;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(150, 150, 150);
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif !important;
}

.dashboard-page .ui-datepicker-header {
  background: none;
  border: none;
  background-color: #f7b733 !important;
  color: white;
}

.dashboard-page .ui-datepicker-calendar .ui-state-hover {
  background: #c7c7c7 !important;
}

.dashboard-page .ui-datepicker-inline .date-highlight a {
  color: black;
  background: white;
  border: 1px solid #f7b733;
  border-radius: 5px;
}

.dashboard-page .ui-datepicker-inline .ui-state-active {
  background: #f7b733 !important;
  color: black !important;
}

.custom-button {
  background-color: #f7b733;
}

button.custom-button {
  text-transform: uppercase;
  color: white !important;
  border: none;
  transition: background-color 0.4s;
  box-shadow: 3px 3px #872a2a !important;
}

button:hover {
  background-color: #d59208 !important;
}

button:active {
  background-color: #d59208;
  box-shadow: 0 0 #d59208 !important;
  transform: translateY(2px) translateX(2px);
}


.dashboard-page .time-button {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-page #legend {
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.dashboard-page #legend summary {
  font-weight: bold;
  font-size: 15px;
}

.dashboard-page #legend summary:focus{
  outline: none;
}

.dashboard-page #legend img {
  vertical-align: middle;
}

.dashboard-page .hide {
  display: none;
}

.dashboard-page #fencelineInfo {
  width: 100%;
  height: 20px;
  text-align: center;
  margin: 0;
  padding: 0px;
}

.dashboard-page #help-btn {
  position: absolute;
  right: 1em;
  top: 0.5em;
  font-size: 20px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    transition-delay: 0.2s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    text-align: right;
    margin-right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
