.custom-col {
  padding: 0px !important;
}

.full-height {
  height: 100%;
}

.border {
  border: 1px solid black;
}

.guide {
  min-height: 110px;
}

@media (min-width: 1600px) {
  .guide-col {
    font-size: 18px;
  }
}

.guide-icon-circle {
  font-size: 175%;
  border-radius: 50%;
  height: 1.7em;
  width: 1.7em;
  top: .7em;
  position: absolute;
}

.guide-icon {
  position: absolute !important;
  line-height: 1.7 !important;
}

.guide-text {
  margin-left: 55px;
  width: 60%;
  text-align: justify;
  min-height: 60px;
}

.guide-arrow {
  color:grey;
  font-size:400%;
  opacity:.5;
  text-align: right;
  position: absolute !important;
  top: 15px !important;
  right: -15px;
}

#dialog {
  background-color: #eceff1;
}

#shareLink {
  width: 100%;
  font-size: 11px;
}

#grapher {
  width: 100%;
  min-width: 385px;
  min-height: 400px;
}

#grapher * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#dateAxisContainer {
  width: 100%;
  height: 41px;
  position: relative;
}

.playContainer {
  border-top: 1px solid black;
  width: 159px;
  position: absolute;
}

.playMenu {
  height:100%;
  margin-left: 5px;
  margin-right: 10px;
}

#slider {
  width:60px;
  margin-top: 13px;
  margin-left: 55px;
}

.playbackBtn {
  border-radius: 4px;
  border: 1px solid black !important;
  height: 30px;
  width: 30px;
  margin-top: 4px;
}

.autoScaleToggleBtn {
  border-radius: 4px;
  border: 1px solid black !important;
  outline: none;
  height: 30px;
  width: 20px;
  margin-top: 4px;
  float: right;
  margin-right: 1px;
}

.toggle-button-on {
  box-shadow: inset 0 0 0 .25px #27496d,inset 0 1px 10px #193047;
}

#dateAxis {
  position: absolute !important;
  right: 250px;
  left: 159px;
  top: 0px;
  height: 40px;
  border: 1px solid black;
  width: 100%;
  background: white;
}

.zoomGrapherBtn {
  position: absolute;
  padding: 0px;
  border: 0px;
  right: 8px;
  height: 19px;
  width: 19px;
  border-radius: 4px;
}

#zoomGrapherIn {
  top: 1px;
}

#zoomGrapherOut {
  top: 21px;
}

.chartTitle {
  position: absolute;
  left: 0px;
  width: 136px;
  height: 100%;
  border: 1px solid black;
  background-color: rgba(126,217,237,.43);
  padding: 11px;
}

.chartContent {
  position: absolute;
  left: 159px;
  right: 35px;
  border: 1px solid black;
  background: white;
  width: 100%;
  height: 80px;
  z-index: 4 !important;
}

.chartAxis {
  position: absolute !important;
  right: 0px;
  width: 34px;
  border: 1px solid black;
  background: white;
  height: inherit;
  z-index: 1;
}

.healthDangerBox {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 179, 179);
  z-index: -2;
}

.greyAreaBox {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: rgb(217, 217, 217);
  border-bottom: 0px dashed black;
  z-index: -3;
}

.refineryDetectionLimit {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px dotted black;
  z-index: -1;
}

.valueHover {
  display: none;
  z-index: 9999;
  font-size: 12pt;
  background-color: rgba(255,255,255,.5);
  float: right;
}

.left-collapse-menu {
  height: 350px;
  width: 234px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(126,217,237,.6);
  border: 1px solid black;
}

.collapsed {
  left: -214px;
}

.collapse-handle {
  width: 20px;
  border: 1px solid black;
  position: absolute;
  right: 0px;
  font-size: 20px;
  cursor: pointer;
}

.collapse-icon {
  color: black;
  position: absolute !important;
  top: 175px !important;
}

.calendar-controls {
  position: absolute;
  top: 5px;
  left: 5px;
}

.ui-datepicker-inline {
  font-size: 12px;
  height: 200px;
  border-radius: 0;
  color: #555555;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(150, 150, 150);
}

.ui-datepicker-inline .ui-state-hover {
  background: rgb(100, 100, 100) !important;
}

.ui-datepicker-inline .date-highlight a {
  color: white;
  background: rgb(150, 150, 150);
  border: 1px solid rgb(204, 204, 204);
}

.ui-datepicker-inline .ui-state-active {
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(215,84,90) !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.time-button {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 17px;
}

#fencelineInfo {
  width: 100%;
  height: 20px;
  text-align: center;
  margin: 0;
  padding: 0px;
}
