.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#pics{
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: black;
}

#pics img {
  opacity: .7;
  min-height: 12em;
}

.title-tester {
  width:100%;
  text-align: center;
  background: transparent;
  border: none;
  letter-spacing: .2em;
}

.subheading {
  font-size: 4rem;
  display: block;
}

.site-title:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/panorama_refinery.jpg") no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-title:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  transform: translateY(-100%);
}

.site-title {
  position: relative;
  width: 100%;
  color: #FFF;
}

.site-title-text {
  position: relative;
  padding: 30px;
  font-size: 5.5em;
  letter-spacing: .2em;
  font-weight: bold;
  z-index: 100;
}

#carousel-padding{
  position: relative;
  height: 30px;
}

#carousel-buttons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.small-circle {
  position: relative;
  float: left;
  height: 15px;
  width: 15px;
  margin: 0px 5px;
  border-radius: 50%;
  border: solid 1px white;
  cursor: pointer;
}

.small-circle:hover{
  background: darkgray;
}

.small-circle.selected{
  background: white;
}

@media only screen
and (max-device-width: 768px){
  .site-title-text {
    font-size: 3em !important;
    letter-spacing: 0.1em !important;
  }

  .subheading {
    font-size: 0.5em !important;
  }
  }

.panel {
  background-color: rgba(126,217,237,.43) !important;
  padding: 1em;
  height: 100%;
}

div.panel h3 {
  font-weight: bold !important;
}

div.panel img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid #455a64;
  }

div.panel p {
  font-size: 1.1em;
}

div.panel li {
  font-size: 1.1em;
}

div.panel a {
  text-decoration: underline;
  color: inherit;
}

.scroll-panel {
  overflow-y: scroll;
  height:90%;
}
