#resources-for-action-page section {
	padding: 20px 20px;
}

.resource-title{
	display: inline;
	font-size: 18px;
	color: dimgray;
	margin-right: 4px;
}

.resource-title + p {
	display: inline;
	font-size: 15px;
	color: gray;
}