.resource-container{
	position: relative;
	margin: 20px auto;
	max-width: 800px;
	background-color: #dfdfdf;
	padding: 1px;
}

.resource-container h2 {
	padding: 10px;
	text-align: center;
}

#reports-toolbar{
	margin: 20px 5%;
}

.result-count:before{
	content: "Showing ";
}

.post{
	position: relative;
	width: 90%;
	margin: 20px 5%;
	padding: 15px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow-wrap: break-word;
}

#posts .post{
	max-width: 500px;
	min-width: 220px;
	-webkit-transform: translateZ(0);
}

.post .smell-box{
	position: relative;
	display: inline-block;
}

.post .title{
	display: inline;
}

.post .info {
	display: inline-block;
	color: gray;
	font-size: 1.1em;
}

.post .posted:after{
	content: "";
    margin: 0 5px;
}

.caption{
	margin: 5px 0px;
}

.caption.symptoms:before{
	color: gray;
}
